<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to Github • Github</title>
    <link rel="stylesheet" href="../css/github.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://wallpapers.com/images/high/git-hub-logo-octocat-z003mr14kqdw9kne-2.png" alt="GitHub Logo">
        </div>
        <div class="heading">
            <p>Sign in to GitHub<p>    
        </div>
        <form class="login-form">
            <label for="username">Username or email address</label>
            <input type="text" id="username" name="username" required>
            <div class="password-container">
                <label for="password">Password</label>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="sign-in-btn">Sign in</button>
        </form>
        <div class="alternative">
            <a href="#">Sign in with a passkey</a><br>
            <span class="new-to-github">New to GitHub? <a href="#">Create an account</a></span>
        </div>
        <footer>
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Contact GitHub Support</a></li>
                <li><a href="#">Manage cookies</a></li>
                <li><a href="#">Do not share my personal information</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>
