<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login · Instagram</title>
  <link rel="stylesheet" href="../css/instagram.css">
  <link rel="shortcut icon" href="https://static.cdninstagram.com/rsrc.php/v4/yI/r/VsNE-OHk_8a.png" type="image/x-icon">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
        <i class="logo" role="img"></i>
      <form>
        <input type="text" placeholder="Phone number, username, or email" class="input-field">
        <input type="password" placeholder="Password" class="input-field">
        <button type="submit" class="login-btn">Log in</button>
      </form>
      <div class="divider">
        <span>OR</span>
      </div>
      <button class="facebook-login">
        <img src="../res/facebook-logo.png" alt="Facebook Icon">
        Log in with Facebook
      </button>
      <a href="https://www.instagram.com/accounts/password/reset/?hl=en" class="forgot-password">Forgot password?</a>
    </div>
    <div class="signup-box">
      <p>Don't have an account? <a href="https://www.instagram.com/accounts/emailsignup/?hl=en">Sign up</a></p>
    </div>
    <div class="download-app">
      <p>Get the app.</p>
      <div class="app-buttons">
        <img alt="Get it on Google Play" class="x1vqgdyp" src="https://static.cdninstagram.com/rsrc.php/v4/yz/r/c5Rp7Ym-Klz.png">
        <img alt="Get it from Microsoft" class="x1vqgdyp" src="https://static.cdninstagram.com/rsrc.php/v4/yu/r/EHY6QnZYdNX.png">
      </div>
    </div>
  </div>
  <footer>
    <ul class="footer-links">
      <li><a href="https://about.meta.com/">Meta</a></li>
      <li><a href="https://about.instagram.com/">About</a></li>
      <li><a href="https://about.instagram.com/blog">Blog</a></li>
      <li><a href="https://about.instagram.com/about-us/careers">Jobs</a></li>
      <li><a href="https://help.instagram.com/">Help</a></li>
      <li><a href="https://developers.facebook.com/docs/instagram-platform">API</a></li>
      <li><a href="http://privacycenter.instagram.com/policy/?entry_point=ig_help_center_data_policy_redirect">Privacy</a></li>
      <li><a href="https://help.instagram.com/581066165581870/">Terms</a></li>
      <li><a href="https://www.instagram.com/explore/locations/?hl=en">Locations</a></li>
      <li><a href="https://www.instagram.com/web/lite/?hl=en">Instagram Lite</a></li>
      <li><a href="https://www.threads.net/">Threads</a></li>
      <li><a href="https://www.facebook.com/help/instagram/261704639352628?hl=en">Contact Uploading & Non-Users</a></li>
    </ul>
    <p>© 2025 Instagram from Meta</p>
  </footer>
</body>
</html>
